<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <ul class="mx-auto w-1/2 border-4 border-red-500">
      <li class="text-primary">text-primary</li>
      <li class="text-secondary">text-secondary</li>
      <li class="text-danger">text-danger</li>
      <li class="text-important">text-important</li>
      <li class="bg-black text-white">text-white</li>
    </ul>
    <ul class="mt-4 border-4">
      <li class="bg-primary p-1">bg-primary</li>
      <li class="bg-secondary p-1">bg-secondary</li>
      <li class="bg-danger p-1 text-white">bg-danger</li>
      <li class="bg-important p-1">bg-important</li>
      <li class="bg-white p-1">bg-white</li>
    </ul>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
