<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEAL.TW | Member</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container flex justify-center">
      <!-- <div class="flex justify-center"> -->
      <div class="w-full md:w-2/3 lg:w-1/2">
        <h2 class="mb-4 text-center text-5xl">Member</h2>
        <div class="grid gap-y-5">
          <div class="flex flex-row items-center">
            <span class="basis-auto text-3xl">William Wu</span>
          </div>
          <div class="*lg:flex-col *lg:items-start flex flex-row items-center">
            <label class="*lg:basis-0 basis-40 text-2xl">EMAIL</label>
            <div class="basis-auto font-bold">william@gmail.com</div>
          </div>
          <div class="*lg:flex-col *lg:items-start flex flex-row items-center">
            <label class="*lg:basis-0 basis-40 text-2xl">POINTS</label>
            <div class="basis-auto font-bold">108P</div>
          </div>
          <div class="*lg:flex-col *lg:items-start flex flex-row items-center">
            <label class="*lg:basis-0 basis-40 text-2xl">FOLLOWING</label>
            <div class="basis-auto font-bold"></div>
          </div>
          <div class="*lg:flex-col *lg:items-start flex flex-row items-center">
            <label class="*lg:basis-0 basis-40 text-2xl">ARCHIVE</label>
            <div class="basis-auto font-bold"></div>
          </div>
          <div class="*lg:flex-col *lg:items-start flex flex-row items-center">
            <label class="*lg:basis-0 basis-40 text-2xl">SHARED</label>
            <div class="basis-auto font-bold"></div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
